* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(193, 223, 248);
}

h1,
h2,
h3,
h4 {
  font-family: "Nunito Sans"
}

p {
  font-family: "Montserrat";
  margin: 20px;
  font-size: 19px;
  font-weight: 500;
  text-align: center;
}

.init {
  border: 3px solid transparent;
  border-radius: 10px;
  box-shadow: -6px 0px 21px 0px rgba(0, 0, 0, 0.75);
  margin-top: 30px;
  animation: carga 3s linear infinite;
  border-image: linear-gradient(to right, white, #2603eb) 100% 1;
}

@keyframes carga {
  100% {
    border-image: linear-gradient(to right, white, #2603eb) 100% 0;
  }
}

.init img {
  width: 400px;
  height: 400px;
  border-radius: 40px;
  border: 3px solid #2603eb;
  margin: 20px
}

.presentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.presentation li:hover {
  color: #2603eb;

}


.presentation li {
  font-size: 20px;
  margin: 10px;
  font-family: "Montserrat"
}

.shadow-dance-text {
  font-size: 40px;
  color: white;
  text-shadow: 5px 5px 0 rgb(7, 171, 221), 10px 10px 0 #2603eb;
  animation: shadow-dance 2s infinite;
  margin: 30px;
  text-align: center;
}

@keyframes shadow-dance {

  0%,
  100% {
    text-shadow: 5px 5px 0 rgb(7, 171, 221), 10px 10px 0 #2603eb;
  }

  50% {
    text-shadow: -5px -5px 0 #2603eb, -10px -10px 0 rgb(7, 171, 221);
  }
}

.about-me {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}

.my-info {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 51px -10px rgba(0, 0, 0, 0.87);
}

.my-info p {
  font-size: 18px;
  font-weight: 500;
}

.my-info p:hover {
  color: #2603eb;
  font-size: 20px;
}

.proyectos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}

.projects img {
  width: 300px;
}

.projects {
  padding: 30px;
  box-shadow: 10px 10px 51px -10px rgba(0, 0, 0, 0.87);
  border: 3px solid transparent;
  border-radius: 10px;
  box-shadow: -6px 0px 21px 0px rgba(0, 0, 0, 0.75);
  margin-top: 30px;
  animation: carga 3s linear infinite;
  border-image: linear-gradient(to right, white, #2603eb) 100% 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes carga {
  100% {
    border-image: linear-gradient(to right, white, #2603eb) 100% 0;
  }
}

.habilidades {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin-bottom: 20px;
  gap: 10px;
  margin: 40px;
  box-shadow: 10px 10px 51px -10px rgba(0, 0, 0, 0.87);
  animation: carga 3s linear infinite;
  border-image: linear-gradient(to right, white, #2603eb) 100% 1;
  border: 3px solid transparent;
}

@keyframes carga {
  100% {
    border-image: linear-gradient(to right, white, #2603eb) 100% 0;
  }
}

.habilidades img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}


.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .about-me {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
  }

  .proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
  }

  .presentation li {
    font-size: 15px;
  }

  .presentation {
    display: flex;
    flex-direction: column;
  }

  .init img {
    width: 200px;
    height: 200px;
  }
}